html {
    color: black;
    background-color: white;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: small;
}

h1 {
    color: white;
    text-align: center
}

img.image {
    border: 0 none;
    /*----------Removes the border by default------------*/
}

img.image:hover {
    border: 5px solid red;
    /*--------------------Display border-----------------*/
}

.versus {
    text-align: center;
}

#player {
    position: relative;
    /*animation: mymove 5s;*/
    animation-fill-mode: forwards;
}

/*-----------animation of player------------*/
@keyframes mymove {     
    0% {
        top: 0px;
    }
    100% {
        top: 150px;
    }
}

#computer {
    position: relative;
    /*animation: mymove2 5s;*/
    animation-fill-mode: forwards;
}

/*-----------animation of computer-----------*/
@keyframes mymove2 {         
    0% {
        top: 0px;
    }
    100% {
        top: -150px;
    }
}

#end {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}

#end p {
    font-size:100px;
    text-align: center;
    margin-top: 150px; 
}
